<% @title = @item_locale.list_title %>

<section class="cid-r7o72Bhmed mbr-page-title">
  <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(130, 130, 130);">
  </div>
  <div class="container">
    <h1 class="mbr-section-title mbr-fonts-style mbr-white pb-4 display-5">
      <%= @item_locale.page_title %>
    </h1>
  </div>
</section>

<section class="features1 page-content" id="features1-4">
  <div class="container">
    <div class="row">
      <div class="col-12 text-element mbr-text mbr-fonts-style mbr-lighter display-7">
        <%= raw(@item_locale.page_content) %>
      </div>
    </div>
  </div>
</section>
